@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
    background-color: #1F2034;
    font-family: Poppins, sans-serif;
    color: white;
    min-height: 100vh;
    height: 100%;
}

.full-height-grow {
    display: flex;
    flex-direction: column;
}

.brand-logo {
    display: flex;
    align-items: center;
    font-size: 1.25em;
    color: inherit;
    text-decoration: none;
}

.brand-logo-name {
    margin-left: 1rem;
}

.nav {
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-link {
    color: inherit;
    text-decoration: none;
    padding: 1rem;
}

.nav-link:hover {
    color: #adadad;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #12121D;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 60px;
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 40px;
    flex-grow: 1;
    min-height: 100%;
    margin: 0 auto -60px;
    position: relative;
}

.content {
    padding-bottom: 60px;
}

.title {
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 400;
    font-size: 1.2em;
    margin-bottom: 2rem;
}

.signup-btn {
    color: white;
    background-color: #5865F2;
    padding: .75rem 1.5rem;
    border-radius: .5rem;
    border: none;
    font-size: .9rem;
    cursor: pointer;
    border: none;
    outline: none;
}

.signup-btn:hover {
    background-color: #6671f3;
}

.signup-btn:focus {
    background-color: #7983f1;
}