.login-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.login-form {
    background-color: #12121D;
    width: 50vw;
    max-width: 50%;
    padding: 2rem 4rem;
    border-radius: 20px;
    max-height: 70vh;
}

.input-group {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
}

.login-form-text {
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.input-group label {
    font-weight: bold;
    margin-bottom: .5rem
}

.input-group input {
    outline: none;
    background: none;
    border: 1px solid #5865F2;
    font-size: 1em;
    padding: .5em;
    color: inherit;
    border-radius: 5px;
}

.input-group input:focus {
    border-color: #9ea0b9;
}

.login-text {
    font-size: 1em;
}

.valid-email-text {
    font-size: 0.75em;
}

.signup-link {
    text-decoration: underline;
    color: white;
}

.signup-link:hover {
    color: #5865F2
}

@media (max-width: 900px) {
    .login-section {
        flex-direction: column;
        justify-content: center;
    }

    .login-form {
        width: 80vw;
        max-width: inherit;
        margin: 2rem 0;
        height: 60vh;
    }

    
}

