.error {
    color: white;
    background: rgb(219, 72, 72);
    font-size: 18;
    border-radius: 5;
    padding: 10;
    margin-bottom: 10;
}

.notification {
    color: white;
    background: rgb(35, 150, 35);
    font-size: 18;
    border-radius: 5;
    padding: 10;
    margin-bottom: 10;
}